@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    
    <!-- Dodane zdjęcie -->
    <img src="URL_DO_ZDJĘCIA" alt="Opis zdjęcia" style="max-width:100%; height:auto; margin-top:20px;">

    <!-- Dodane przyciski -->
    <div style="margin-top:20px;">
        <a href="~/Home/About" class="btn btn-primary" style="margin-right:10px;">Informacje o nas</a>
        <a href="~/Reservations" class="btn btn-secondary">Zarezerwuj pokój</a>
    </div>
</div>